<section class="page" data-ng-controller="PostsController" data-ng-init="findOne()">

	<div class="row">
		<div class="col-xs-0 col-sm-1 col-md-2 col-lg-2">
		</div>
		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
			<img class="img-responsive cover-photo" ng-src="{{post.coverPhotoURL}}" />
			<h2 data-ng-bind="post.title"></h2>
		</div>
		<div class="col-xs-0 col-sm-1 col-md-2 col-lg-2">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-0 col-sm-1 col-md-2 col-lg-2">
		</div>
		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
			<p data-ng-bind="post.content"></p>
			<small>
				<em>Posted on</em>
				<em data-ng-bind="post.created | date:'medium'"></em>
				<em>by</em>
				<em data-ng-bind="post.creator.username"></em>
			</small>
			<div data-ng-show="authentication.user._id == post.creator._id">
				<a href="#!/posts/{{post.category}}/{{post._id}}/edit">edit</a>
				<a href="#" data-ng-click="delete();">delete</a>
			</div>
		</div>
		<div class="col-xs-0 col-sm-1 col-md-2 col-lg-2">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-0 col-sm-1 col-md-2 col-lg-2">
		</div>
		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
			<div data-ng-repeat="media in post.medialinks">
				<div data-ng-show="media.media == 'youtube'" class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" ng-src="{{media.url.replace('watch?v=', 'v/')}}"></iframe>
				</div>
			</div>
		</div>
		<div class="col-xs-0 col-sm-1 col-md-2 col-lg-2">
		</div>
	</div>

</section>