@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: local('Special Elite'), local('SpecialElite-Regular'), url(https://fonts.gstatic.com/s/specialelite/v6/9-wW4zu3WNoD5Fjka35JmwYWpCd0FFfjqwFBDnEN0bM.woff2) format('woff2');
}
/* General */
a {
  min-width: 48px;
  min-height: 48px;
}
body {
  font-family: 'Special Elite', cursive;
  min-width: 320px;
}
html,
body,
body > div,
body > div > div {
  height: 100% !important;
}
html,
.container-fluid {
  margin: auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}
/* Header */
header {
  background-color: white;
  border-bottom: 1px outset #e0e0e0;
  border-right: 1px solid #e0e0e0;
  min-height: 48px;
  position: static !important;
}
header a {
  color: black;
}
header .atta-header {
  font-size: 24px;
  min-height: 48px;
  text-align: center;
  padding-top: 10px;
}
header .atta-brand {
  height: 48px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* Navigation */
nav {
  background-color: #f3f9d2;
  border-bottom: 1px outset #e0e0e0;
  min-height: 48px;
  padding: 0 !important;
}
nav a {
  color: #43390a;
  padding-top: 14px !important;
}
.nav > li > a:focus,
.nav > li > a:hover {
  border-bottom: 1px outset #e0e0e0;
}
/* Hero View */
.hero {
  background-color: white;
  display: block;
  margin-top: 49px;
  padding: none;
}
.hero .heroImage {
  background-image: url(img/attaphilaHero.jpg);
  background-size: cover;
  border: 1px solid gray;
  margin: 0;
  height: 540px;
}
@media only screen and (min-width: 1280px) {
  .hero .heroImage {
    background-image: url(img/attaphilaHeroLargeFormat.jpg);
    height: 686px;
  }
}
.hero .heroImage2 {
  background-image: url(img/fungalGarden.jpg);
  background-size: cover;
  border: 1px solid gray;
  margin: 0;
  height: 540px;
}
@media only screen and (min-width: 1280px) {
  .hero .heroImage2 {
    background-image: url(img/fungalGardenLargeFormat.jpg);
    height: 686px;
  }
}
.hero .heroImageWhite {
  margin: 0 auto;
  max-width: 62%;
}
/* Posts View */
.posts-view {
  margin: 74px auto;
  max-width: 86%;
}
@media only screen and (min-width: 960px) {
  .posts-view {
    margin: 98px: auto;
    max-width: 62%;
  }
}
.posts-view article {
  margin-bottom: 48px;
}
.posts-view .media-object {
  max-width: 128px;
}
/* Post View */
.post-view {
  margin: 74px auto;
  max-width: 86%;
}
@media only screen and (min-width: 960px) {
  .post-view {
    max-width: 62%;
  }
}
.post-view .cover-photo {
  margin: 0 auto;
  width: 100%;
}
.post-view .title-container {
  background-color: white;
  margin: -48px auto 24px auto;
  max-width: 86%;
  padding: 12px;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 960px) {
  .post-view .title-container {
    max-width: 62%;
  }
}
.post-view .title-container .post-category {
  display: block;
  font-weight: bold;
  text-transform: capitalize;
}
.post-view .title-container .post-title {
  font-size: 32px;
}
@media only screen and (min-width: 960px) {
  .post-view .title-container .post-title {
    font-size: 48px;
  }
}
.post-view .title-container .post-meta {
  display: block;
}
.post-view .post-paragraph {
  max-width: 86%;
}
/* Footer */
footer {
  background-color: #3f2927;
  border-top: 1px inset #e0e0e0;
  bottom: 0;
  color: white;
  position: absolute;
  min-height: 50px;
  width: 100%;
  z-index: 3;
}
footer a {
  color: white;
}
footer .text-center {
  padding-top: 10px;
}
/* Sign In Modal */
.modal-dialog {
  margin: 156px auto;
  width: 250px;
}
@media only screen and (min-width: 960px) {
  .modal-dialog {
    width: 640px;
  }
}
.modal-dialog .modal-content {
  padding: 10%;
}
@media only screen and (min-width: 960px) {
  .modal-dialog .modal-content {
    padding: 5%;
  }
}
.modal-dialog .modal-content .form-sign-in .img-responsive {
  margin-bottom: 12px;
}
@media only screen and (min-width: 960px) {
  .modal-dialog .modal-content .form-sign-in .img-responsive {
    float: left;
    margin: 24px;
  }
}
.modal-dialog .modal-content .form-sign-in .form-control {
  height: 48px;
  margin-bottom: 8px;
}
@media only screen and (min-width: 960px) {
  .modal-dialog .modal-content .form-sign-in .form-control {
    float: right;
    height: 36px;
    margin: 3% 0;
    width: 38%;
  }
}
@media only screen and (min-width: 960px) {
  .modal-dialog .modal-content .form-sign-in .btn-primary {
    margin: 0 auto;
    width: 62%;
  }
}
/* Bootstrap Fixes */
.nav-justified > li > a {
  margin-bottom: 0 !important;
}
button > a {
  color: white;
}
