@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: local('Special Elite'), local('SpecialElite-Regular'), url(https://fonts.gstatic.com/s/specialelite/v6/9-wW4zu3WNoD5Fjka35JmwYWpCd0FFfjqwFBDnEN0bM.woff2) format('woff2');
}
/* General */
a {
  min-width: 48px;
  min-height: 48px;
}
body {
  font-family: 'Special Elite', cursive;
  min-width: 320px;
}
body,
section {
  background-color: #d9f6bb;
}
html,
body,
body > div,
body > div > div {
  height: 100% !important;
}
html,
.container-fluid {
  margin: auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}
/* Header */
header {
  background-color: white;
  border-bottom: 1px outset #e0e0e0;
  border-right: 1px solid #e0e0e0;
  min-height: 48px;
  position: static !important;
}
header a {
  color: black;
}
header .atta-header {
  font-size: 24px;
  float: right;
  height: 48px;
  margin: 0;
  padding-top: 10px;
}
header .atta-brand {
  height: 48px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* Navigation */
nav {
  background-color: #f3f9d2;
  border-bottom: 1px outset #e0e0e0;
  min-height: 48px;
  padding: 0 !important;
}
nav a {
  color: #43390a;
  padding-top: 14px !important;
}
.nav > li > a:focus,
.nav > li > a:hover {
  border-bottom: 1px outset #e0e0e0;
}
/* Main Content Area */
article {
  margin-bottom: 40px;
}
.hero {
  background-image: url("../img/attaphilaHero.jpg");
  background-size: cover;
  display: block;
  height: 100%;
}
section {
  color: #26331a;
  margin-bottom: 50px;
  padding: 5%;
}
/* Footer */
footer {
  background-color: #3f2927;
  border-top: 1px inset #e0e0e0;
  bottom: 0;
  color: white;
  min-height: 50px;
  position: absolute;
  width: 100%;
}
footer a {
  color: #3a9dd7;
}
footer .text-center {
  padding-top: 10px;
}
/* Misc */
.attaphila {
  margin-left: auto;
  margin-right: auto;
  max-height: 750px;
}
.cover-photo {
  margin-left: auto;
  margin-right: auto;
}
.media {
  max-width: 1024px;
}
.media-object {
  max-width: 128px;
}
/* Sign In Modal */
.modal-dialog {
  margin: 156px auto;
  width: 250px;
}
@media only screen and (min-width: 1024px) {
  .modal-dialog {
    width: 640px;
  }
}
.modal-dialog .modal-content {
  padding: 10%;
}
@media only screen and (min-width: 1024px) {
  .modal-dialog .modal-content {
    padding: 5%;
  }
}
.modal-dialog .modal-content .form-sign-in .img-responsive {
  margin-bottom: 12px;
}
@media only screen and (min-width: 1024px) {
  .modal-dialog .modal-content .form-sign-in .img-responsive {
    float: left;
    margin: 24px;
  }
}
.modal-dialog .modal-content .form-sign-in .form-control {
  height: 48px;
  margin-bottom: 8px;
}
@media only screen and (min-width: 1024px) {
  .modal-dialog .modal-content .form-sign-in .form-control {
    float: right;
    height: 36px;
    margin: 3% 0;
    width: 38%;
  }
}
@media only screen and (min-width: 1024px) {
  .modal-dialog .modal-content .form-sign-in .btn-primary {
    margin: 0 auto;
    width: 62%;
  }
}
/* Bootstrap Fixes */
.nav-justified > li > a {
  margin-bottom: 0 !important;
}
button > a {
  color: white;
}
