@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: local('Special Elite'), local('SpecialElite-Regular'), url(https://fonts.gstatic.com/s/specialelite/v6/9-wW4zu3WNoD5Fjka35JmwYWpCd0FFfjqwFBDnEN0bM.woff2) format('woff2');
}

@desktop: ~"only screen and (min-width: 1024px)";

/* General */

a {
	min-width: 48px;
	min-height: 48px;
}

body {
	font-family: 'Special Elite', cursive;
	min-width: 320px;
}

body, section {
	background-color: rgb(237, 247, 237);
}

html, body, body > div, body > div > div {
	height: 100% !important;
}

html, .container-fluid {
	margin: auto;
	overflow-x: hidden;
	padding: 0;
	width: 100%;
}

/* Header */

header {
	background-color: white;
	border-bottom: 1px outset #e0e0e0;
	border-right: 1px solid #e0e0e0;
	min-height: 48px;
	position: static !important;
	
	a {
		color: black;
	}
	
	.atta-header {
		font-size: 24px;
		min-height: 48px;
		text-align: center;
		padding-top: 10px;
	}
	
	.atta-brand {
		height: 48px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

/* Navigation */

nav {
	background-color: rgb(243, 249, 210);
	border-bottom: 1px outset #e0e0e0;
	min-height: 48px;
	padding: 0 !important;
	
	a {
		color: rgb(67, 57, 10);
		padding-top: 14px !important;
	}
}



.nav > li > a:focus, .nav > li > a:hover {
	border-bottom: 1px outset #e0e0e0;
}

/* Main Content Area */

article {
	margin-bottom: 50px;
}

section {
	color: rgb(38, 51, 26);
	margin-bottom: 50px;
	padding: 5%;
}

.hero {
	display: block;
	margin-top: 49px;
	padding: none;
	
	.heroContent {
		section {
			background-color: transparent;
			margin-top: -100px;
			margin-bottom: -150px;
			padding: 2% 9%;	
			
			@media @desktop {
				padding: 2% 19%;
			}
			
			article {
				background-color: rgb(217, 246, 187);
				margin-bottom: 0;
				padding: 2%;
				
				@media @desktop {
					padding: 24px;
				}
			}
		}

	}
}

/* Footer */

footer {
	background-color: #3f2927;
	border-top: 1px inset #e0e0e0;
	bottom: 0;
	color: white;
	min-height: 50px;
	position: absolute;
	width: 100%;
	
	a {
		color: #3a9dd7;
	}
	
	.text-center {
		padding-top: 10px;
	}
}

/* Misc */

.attaphila {
	margin-left: auto;
	margin-right: auto;
	max-height: 750px;
}

.cover-photo {
	margin-left: auto;
	margin-right: auto;
}

.media {
	max-width: 1024px;
}

.media-object {
	max-width: 128px;
}

/* Sign In Modal */

.modal-dialog {
	margin: 156px auto;
	width: 250px;
	@media @desktop {
		width: 640px;
	}
	.modal-content {
		padding: 10%;
		@media @desktop {
			padding: 5%;
		}
		.form-sign-in {
			.img-responsive {
				margin-bottom: 12px;
				@media @desktop {
					float: left;
					margin: 24px;
				}
			}
			.form-control {
				height: 48px;
				margin-bottom: 8px;
				@media @desktop {
					float: right;
					height: 36px;
					margin: 3% 0;
					width: 38%;
				}
			}
			.btn-primary {
				@media @desktop {
					margin: 0 auto;
					width: 62%;
				}
			}
		}
	}
}


/* Bootstrap Fixes */

.nav-justified > li > a {
	margin-bottom: 0 !important;
}

button > a {
	color: white;
}