@import url(https://fonts.googleapis.com/css?family=Special+Elite);

body {
	font-family: 'Special Elite', cursive;
	min-width: 350px;
}

html, .container-fluid {
	overflow-x: hidden;
	max-width: 100%;
	padding: 0;
	width: 100%;
}

.hero {
	background: no-repeat center right;
	background-image: url('/img/attaphila2DesaturatedText.jpg');
	background-size: contain;
	height: 500px;
}

.navbar {
	background-color: white;
	box-shadow: 0px 1px 1px 0px gray;
	bottom: 0;
	margin: 0;
	position: absolute;
	top: 450px;
	height: 50px;
	width: 100%;
	z-index: 2;
}

.header2 {
	font-size: 16px;
	margin-top: 15px;
}

.navbar-icon > img {
	width: 40px;
	height: 40px;
	margin: 5px 0 5px 15px;
}

.header2 > a {
	margin-right: 15px;
}

.navbar-link {
	margin-right: 15px;
	padding-top: 15px;
}

.ng-scope {
	margin-bottom: 1000px;
}

