@import url(https://fonts.googleapis.com/css?family=Special+Elite);

a {
	min-width: 48px;
	min-height: 48px;
}

article {
	margin-bottom: 40px;
}

body {
	font-family: 'Special Elite', cursive;
	min-width: 320px;
}

html, body {
	height: 100%;
}

html, .container-fluid {
	margin: auto;
	overflow-x: hidden;
	padding: 0;
	width: 100%;
}

.attaphila {
	margin-left: auto;
	margin-right: auto;
	max-height: 750px;
}

.cover-photo {
	margin-left: auto;
	margin-right: auto;
}

.page {
	margin: 5%;
}

.media {
	max-width: 1024px;
}

.media-object {
	max-width: 128px;
}

.well {
	margin-bottom: 0;
}








