<section class="container-fluid" ng-controller="ExampleController">

		<div class="row title text-center">
			<div class="col-xs-2 col-sm-3 col-md-3 col-lg-3">
			</div>
			<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
				<h2>Attaphila</h2>
			</div>
			<div class="col-xs-2 col-sm-3 col-md-3 col-lg-3">
			</div>
		</div>

		<div class="row links">
			<div class="col-xs-6 col-sm-5 col-md-4 col-lg-4">
				<a class="btn btn-link pull-right" href="#!/posts/inside">Inside</a>
			</div>
			<div class="col-xs-0 col-sm-2 col-md-4 col-lg-4">
			</div>
			<div class="col-xs-6 col-sm-5 col-md-4 col-lg-4">
				<a class="btn btn-link pull-left" href="#!/posts/outside">Outside</a>
			</div>
		</div>

		<div class="row image">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<img class="img-responsive attaphila" src="/img/attaphila.png" />
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			</div>
		</div>

		<div class="row links">
			<div class="col-xs-6 col-sm-5 col-md-4 col-lg-4">
				<a class="btn btn-link pull-right" href="#!/posts/relatives">Distant Relatives</a>
			</div>
			<div class="col-xs-0 col-sm-2 col-md-4 col-lg-4">
			</div>
			<div class="col-xs-6 col-sm-5 col-md-4 col-lg-4">
				<a class="btn btn-link pull-left" href="#!/posts/anthro">Anthropodicies</a>
			</div>
		</div>

		<footer class="row well text-center">
			<div class="col-xs-12" data-ng-show="!authentication.user || authentication.user == 'null'">
				Are you Zach? Then
				<a href="/signin">Sign In</a>!
			</div>
			<div class="col-xs-12" data-ng-show="authentication.user && authentication.user != 'null'">
				<h3>Hello <span data-ng-bind="authentication.user.username"></span></h3>
				<a href="/signout">Signout</a><br>
				<a href="/#!/posts/create">Create Post</a><br>
				<a href="/#!/posts/">List All Posts</a>
			</div>
		</footer>

</section>