doctype html
html(lang="en", xmlns:ng="http://angularjs.org")
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", media="screen", href="/lib/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", media="screen", href="/css/main.css")
	body(class="container-fluid")
		section(class="hero")

		nav(class="navbar navbar-default row")
			div(class="navbar-header")
				a(class="navbar-icon" href="/#!/")
					img(src="/img/attaBrand.png")
				ul(class="nav navbar-nav")
					li
						a(href="#!/posts/articles") articles
					li
						a(href="#!/posts/blog") blog
					li
						a(href="#!/posts/comics") comics
					li
						a(href="#!/posts/media") media


		section(ng-view)

		script(type="text/javascript")
			if user
				| window.user = !{user};
			else
				| window.user = 'null';

		script(type="text/javascript", src="/lib/angular/angular.js")
		script(type="text/javascript", src="/lib/angular-route/angular-route.js")
		script(type="text/javascript", src="/lib/angular-resource/angular-resource.js")
		script(type="text/javascript", src="/lib/angular-file-upload/dist/angular-file-upload.min.js")
		script(type="text/javascript", src="/posts/posts.client.module.js")
		script(type="text/javascript", src="/posts/controllers/posts.client.controller.js")
		script(type="text/javascript", src="/posts/services/posts.client.service.js")
		script(type="text/javascript", src="/posts/config/posts.client.routes.js")
		script(type="text/javascript", src="/example/example.client.module.js")
		script(type="text/javascript", src="/example/controllers/example.client.controller.js")
		script(type="text/javascript", src="/example/config/example.client.routes.js")
		script(type="text/javascript", src="/users/users.client.module.js")
		script(type="text/javascript", src="/users/services/authentication.client.service.js")
		script(type="text/javascript", src="/lib/jquery/dist/jquery.min.js")
		script(type="text/javascript", src="/application.js")




