doctype html
html(lang="en", xmlns:ng="http://angularjs.org")
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", media="screen", href="/lib/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", media="screen", href="/css/main.css")
		script(src="/lib/react/react.min.js")
		script(src="/lib/react/react-dom.min.js")
		// TODO: Implement with NPM/Browserify
		script(src="https://cdnjs.cloudflare.com/ajax/libs/react-router/0.13.4/ReactRouter.min.js")
		// TODO: Implement with NPM/Browserify
		script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
		script(src="/lib/jquery/dist/jquery.min.js")
	body
		div(id="app")
		script(type="text/javascript")
			if user
				| window.user = !{user};
			else
				| window.user = 'null';

		script(type="text/babel", src="/app.js")




