doctype html
html(lang="en", xmlns:ng="http://angularjs.org")
	head
		title= title
	body
		h1 Zach's Attaphila Site

		p The main page clean, with central picture of Attaphila, and links to the other pages around it.  Actually, it could be an image of the cockroach in the center of the fungal garden (schematically drawn and stylized), and the links placed at four corners of the garden.

		if username
			h2 Hello #{username}
			a(href="/signout") Sign out

		else
			ul
				li
					a(href="/signin") Sign In
				li
					a(href="/signup") Sign Up

		section
			input(type="text", id="text1", ng-model="name")
			input(type="text", id="text2", ng-model="name")

		script(type="text/javascript", src="/lib/angular/angular.js")
		script(type="text/javascript", src="/application.js")




