doctype html
html(lang="en")
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", media="screen", href="/lib/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", media="screen", href="/css/main.css")
		script(src="/lib/jquery/dist/jquery.min.js")
	body
		div(id="app")
		script(type="text/javascript")
			if user
				| window.user = !{user};
			else
				| window.user = 'null';

		script(src="bundle.js")




