doctype html
html
	head
		title Attaphila - Journal
	body
		h1 Journal
		p This is the most direct conjuring of Archy and Mehitabel.  I will occasionally write weird stuff from the mouth of Attaphila (instead of a cat, he’ll have his fungus garden and associated ant colony as his companion).  Who knows what Attaphila will say.  I don’t.  It might make sense to turn this into a twitter account.