doctype html
html
	head
		title Attaphila - Scrapbook
	body
		h1 Scrapbook
		p Where I can upload all manner of miscellany associated with Attaphila or cockroaches.  For instance, I had friends send me cartoons of what a cockroach living with an ant looks like.  I’d put these images in this section. And links to weird cockroach related stuff.  So this is all the stuff I collect on cockroaches that I find interesting, but it’s part of Attaphila’s scrapbook.